/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spectral", serif;
  background-color: white;
}

header {
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
  font-family: "Spectral", serif;
}

header::before,
header::after {
  display: table;
  content: "";
}

header::after {
  clear: both;
}

.col-4,
.col-8 {
  padding-left: 1%;
  padding-right: 1%;
}

.col-4 {
  width: 33.33%;
  float: right;
  padding-top: 5%;
  padding-bottom: 5%;
}

.col-8 {
  width: 66.67%;
  float: left;
}

.logo {
  width: 300px;
  height: 150px;
}

header ul li {
  padding: 6px 4px 4px 4px;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
}

header ul {
  text-align: right;
  margin-top: 4px;
  padding-top: 20px;
}

.beginQuiz {
  display: block;
  text-align: center;
  width: 50%;
  margin-top: 0px;
}

h1 {
  font-family: "Bilbo Swash Caps", cursive;
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.beginQuizImg {
  width: 50%;
  float: center;
  padding-bottom: 5%;
  border: 2px solid black;
}

button {
  width: 66.67%;
  padding: 2%;
  border: 3px double black;
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1%;
  font-family: "Spectral", serif;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover,
button:focus {
  border-color: brown;
  background-color: black;
  color: whitesmoke;
}

main div {
  margin: 0 auto;
}

label:nth-child(1) {
  background-color: rgba(6, 51, 66, 0.633);
}
label:nth-child(2) {
  background-color: rgba(69, 118, 89, 0.741);
}
label:nth-child(3) {
  background-color: rgba(177, 201, 25, 0.755);
}
label:nth-child(4) {
  background-color: rgba(243, 196, 6, 0.782);
}
label {
  padding: 2%;
  margin-bottom: 10px;
  display: flex;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease-out;
  line-height: 22px;
}
label:hover,
label:focus {
  background-color: whitesmoke;
  color: black;
}
fieldset {
  border: none;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
input:checked {
  border: 8px solid brown;
}
input[type="radio"] {
  flex: 0 0 auto;
  margin-right: 10px;
}
h2 {
  text-align: center;
  margin-bottom: 40px;
  color: black;
  text-transform: uppercase;
}
form button {
  padding: 2%;
  border: 3px double black;
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}
form button:hover,
form button:focus {
  background-color: black;
  color: whitesmoke;
  border-color: brown;
}
.answer {
  flex: 1 1 auto;
}
.questionAndAnswerForm {
  display: none;
  width: 50%;
}
.correctFeedback {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.correctFeedback p {
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
}
.correctFeedback span {
  color: black;
}
.correctFeedback img {
  width: 40%;
  height: auto;
  display: block;
  border: 4px double black;
  background-color: whitesmoke;
  margin: auto;
  padding: 1%;
  margin-bottom: 20px;
}
h3 {
  color: black;
  font-size: 40px;
  margin-bottom: 20px;
}
.results img {
  width: 150px;
  height: auto;
}
.results p:first-of-type {
  font-size: 26px;
  margin-bottom: 10px;
}
.results p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}
.restartButton {
  margin-top: 40px;
}

@media screen and (max-width: 2000px) {
  .questionAndAnswerForm,
  .beginQuiz {
    margin-bottom: 10px;
  }
  .beginQuizImg {
    float: center;
    padding: 1%;
    border: 4px double black;
    background-color: white;
  }
}

@media screen and (max-width: 1480px) {
  .questionAndAnswerForm,
  .beginQuiz {
    width: 80%;
  }
  .beginQuizImg {
    float: center;
    padding: 1%;
    border: 4px double black;
    background-color: whitesmoke;
  }
  button {
    padding: 0.5%;
    font-size: 16px;
    margin-top: 2%;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 120px;
    height: 60px;
    display: block;
    margin: auto;
  }
  header {
    padding: 0% 2% 2% 2%;
  }
  header ul {
    margin: 0px;
    text-align: center;
  }
  h1 {
    font-size: 1.5em;
    margin-bottom: 0%;
    padding: 2% 0;
  }
  header ul li {
    padding: 10px;
    font-size: 20px;
  }
  .col-4,
  .col-8 {
    width: 100%;
    padding-top: 0%;
    padding-bottom: 2%;
  }
  .beginQuiz {
    width: 100%;
    padding: 0% 7.5% 7.5% 7.5%;
    margin-top: 0;
  }
  .beginQuizImg {
    width: 85%;
    padding: 0.4%;
  }
  button {
    padding: 0.5%;
    font-size: 14px;
    margin-top: 2%;
    width: 66.67%;
  }
  h2 {
    font-size: 18px;
  }
  .questionAndAnswerForm {
    width: 100%;
    padding: 20px;
    margin-top: 0;
  }
  label {
    font-size: 16px;
    padding: 15px;
  }
  //.correctFeedback img {
  //    width: 33.33%;
  //    height: auto;
  //  }
  .correctFeedback p {
    margin: 0 15px;
  }
  .results p:first-of-type {
    font-size: 18px;
  }
  h3 {
    font-size: 25px;
  }
} 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spectral', serif;
  background-color: white;
}

header {
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
  font-family: 'Spectral', serif;
}

header::before, header::after {
  display: table;
  content: '';
}

header::after {
  clear: both;
}

.col-4, .col-8 {
  padding-left: 1%;
  padding-right: 1%;
}

.col-4 {
  width: 33.33%;
  float: right;
  padding-top: 5%;
  padding-bottom: 5%;
}

.col-8 {
  width: 66.67%;
  float: left;
}

.logo {
  width: 300px;
  height: 150px;
}

header ul li {
  padding: 6px 4px 4px 4px;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
}

header ul {
  text-align: right;
  margin-top: 4px;
  padding-top: 20px;
}

.beginQuiz {
  display: block;
  text-align: center;
  width: 50%;
  margin-top: 0px;
}
  
h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.beginQuizImg {
  width: 50%;
  float: center;
  padding-bottom: 5%;
  border: 2px solid black;
}

button {
  width: 66.67%;
  padding: 2%;
  border: 3px double black;
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1%;
  font-family: 'Spectral', serif;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover, button:focus {
  border-color: brown;
  background-color: black;
  color: whitesmoke;
}
  
main div {
  margin: 0 auto;
}

label:nth-child(1) {
  background-color: rgba(6, 51, 66, 0.633);
}
label:nth-child(2) {
  background-color: rgba(69, 118, 89, 0.741);
}
label:nth-child(3) {
  background-color: rgba(177, 201, 25, 0.755);
}
label:nth-child(4) {
  background-color: rgba(243, 196, 6, 0.782);
}
label {
  padding: 2%;
  margin-bottom: 10px;
  display: flex;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease-out;
  line-height: 22px;
}
label:hover, label:focus {
  background-color: whitesmoke;
  color: black;
}
fieldset {
  border: none;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
input:checked {
  border: 8px solid brown;
}
input[type=radio] {
  flex: 0 0 auto;
  margin-right: 10px;
}
h2 {
  text-align: center;
  margin-bottom: 40px;
  color: black;
  text-transform: uppercase;
}
form button {
  padding: 2%;
  border: 3px double black;
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}
form button:hover, form button:focus {
  background-color: black;
  color: whitesmoke;
  border-color: brown;
}
.answer {
  flex: 1 1 auto;
}
.questionAndAnswerForm {
  display: none;
  width: 50%;
}
.correctFeedback {
  display: block;
  margin: 0 auto;
  text-align: center;
  
}

.correctFeedback p {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
}
.correctFeedback span {
  color: black;
}
.correctFeedback img {
  width: 50%;
  height: auto;
  display: block;
  border: 4px double black;
  background-color: whitesmoke;
  margin: auto;
  padding: 1%;
  margin-bottom: 20px;
}
h3 {
  color: black;
  font-size: 40px;
  margin-bottom: 20px;
}
.results img {
  width: 150px;
  height: auto;
}
.results p:first-of-type {
  font-size: 26px;
  margin-bottom: 10px;
}
.results p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}
.restartButton {
  margin-top: 2%;
}

@media screen and (max-width: 2000px) {
  .questionAndAnswerForm, .beginQuiz {
    margin-bottom: 10px;
  }
  .beginQuizImg {
    float: center;
    padding: 1%;
    border: 4px double black;
    background-color: white;
  }
  .results img {
    width: 60%;
  }
  h3 {
    font-size: 180%;
  }
}

@media screen and (max-width: 1480px) {
  .questionAndAnswerForm,
  .beginQuiz {
    width: 80%;
  }
  .beginQuizImg {
    float: center;
    padding: 1%;
    border: 4px double black; 
    background-color: whitesmoke;
  }
  button {
    padding: 0.5%;
    font-size: 16px;
    margin-top: 2%;
  }
  .correctFeedback img {
    width: 40%;
  }
  .results img {
    width: 60%;
  }
  h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 120px;
    height: 60px;
    display: block;
    margin: auto;
  }
  header {
    padding: 0% 2% 2% 2%;
  }
  header ul {
    margin: 0px;
    text-align: center
  }
  h1 {
    font-size: 1.5em;
    margin-bottom: 0%;
    padding: 2% 0;
  }
  header ul li {
    padding: 10px;
    font-size: 20px;
  }
  .col-4,
  .col-8 {
    width: 100%;
    padding-top: 0%;
    padding-bottom: 2%;
  }
  .beginQuiz {
    width: 100%;
    padding: 0% 7.5% 7.5% 7.5%;
    margin-top: 0;
  }
  .beginQuizImg {
    width: 85%;
    padding: 0.4%;
  }
  button {
    padding: 0.5%;
    font-size: 14px;
    margin-top: 2%;
    width: 66.67%;
  }  
  h2 {
    font-size: 18px;
  }
  .questionAndAnswerForm {
    width: 100%;
    padding: 20px;
    margin-top: 0;
  }
  label {
    font-size: 16px;
    padding: 15px;
  }
  .correctFeedback img {
    width: 40%;
    height: auto;
  }
  .correctFeedback p {
    margin: 0 15px;
  }
  .results p:first-of-type {
    font-size: 18px;
  }
  h3 {
    font-size: 180%;
  }
  .results img {
    width: 50%;
  }
}
